<section class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <p>
        <strong>Título:</strong>
        <%= @article.title %>
      </p>
      
      <p>
        <strong>Texto:</strong>
        <%= @article.text %>
      </p>
      
      <h2>Comentários</h2>
      
      <%= render @article.comments %>
      
      <h2>Comentar:</h2>
      <%= render 'comments/form' %>
      
    </div>
    <div class="col"></div>
  </div>
</section>