// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'OldNewspaperTypes';
  src: font-url('OldNewspaperTypes.ttf')
}

$newspaper-font: 'OldNewspaperTypes';

body {
  background-color: #F5F5E5;
  font-family: $newspaper-font;
}

h1 {
  text-align: center;
  font-family: $newspaper-font;
}