// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Font Face */
@font-face {
  font-family: 'OldNewspaperTypes';
  src: font-url('OldNewspaperTypes.ttf')
}

/* Variables */
$newspaper-font: 'OldNewspaperTypes';
$grid-template: 1fr 3fr 1fr;


body {
  background-color: #F5F5E5;
  font-family: $newspaper-font;
}

span {
  font-family: $newspaper-font;
}

h1 {
  text-align: center;
  font-family: $newspaper-font;
  margin-bottom: 5px;
}

.article-header {
  padding-bottom: 10px;
}

.article-header {
  .row {
    span {
      font-weight: bold;
      margin: 20px 0;
    }
  }
}

.article-content {
  .row {
    padding-bottom: 5px;
  }
}