// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'OldNewspaperTypes';
  src: font-url('OldNewspaperTypes.ttf')
}

$newspaper-font: 'OldNewspaperTypes';
$grid-template: 1fr 3fr 1fr;

body {
  background-color: #F5F5E5;
  font-family: $newspaper-font;
}

h1 {
  text-align: center;
  font-family: $newspaper-font;
  margin-bottom: 5px;
}

section, .new-article-container {
  display: grid;
  grid-template-columns: $grid-template;
  justify-items: center;
}

.article-header {
  padding-top: 20px;
  font-weight: bold;
}
